
# Django settings
DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DJANGO_SECRET_KEY="secret"

# Django app start steps
DJANGO_COLLECT_STATIC=no
DJANGO_MIGRATE=yes
DJANGO_LOAD_INITIAL_FIXTURES=no

# Used to for CORS
OZONE_HOST=ozone-staging.edw.ro
ALLOWED_HOSTS=*

# File upload
TUSD_UPLOADS_DIR=/var/local/tusd_uploads
ALLOWED_FILE_EXTENSIONS=pdf,doc,docx,xls,xlsx,zip,rar,txt,htm,html,odt,ods,eml,ppt,pptx,mdb

# Sentry config
SENTRY_DSN=
SENTRY_ENV=

# DB configuration
POSTGRES_HOST=postgres
POSTGRES_DB=ozone
POSTGRES_USER=ozone
POSTGRES_PASSWORD=ozone

# Other
USE_DOCKER=yes
