# Django settings
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DJANGO_SECRET_KEY="^secret"

# Django app start steps
DJANGO_COLLECT_STATIC=no
DJANGO_MIGRATE=yes
DJANGO_LOAD_INITIAL_FIXTURES=no

# Used to for CORS
OZONE_HOST=localhost
ALLOWED_HOSTS=localhost

# File upload
TUSD_UPLOADS_DIR=/var/local/tusd_uploads
ALLOWED_FILE_EXTENSIONS=pdf,doc,docx,xls,xlsx,zip,rar,txt,htm,html,odt,ods,eml,ppt,pptx,mdb

# Sentry config
SENTRY_DSN=
SENTRY_ENV=
SENTRY_RELEASE=dev

# DB configuration
POSTGRES_HOST=postgres
POSTGRES_DB=ozone
POSTGRES_USER=ozone
POSTGRES_PASSWORD=ozone

# Cache invalidation
CACHE_INVALIDATION_URL=http://ozone-website.edw.ro/countries/purge-report-tags
# Timeout is in seconds
CACHE_INVALIDATION_TIMEOUT=1

# Other
# XXX TODO: Why is this needed?
USE_DOCKER=yes
