DJANGO_SETTINGS_MODULE=config.settings.production

SECRET_KEY=secret-key
ALLOWED_HOSTS=*
DEBUG=yes

POSTGRES_HOST=postgres

# Should not matter, but it does
USE_DOCKER=no

DJANGO_COLLECT_STATIC=yes
DJANGO_MIGRATE=yes
DJANGO_LOAD_ROD_FIXTURES=yes

# Used to build fully qualified URLs for file downloads
OZONE_DOMAIN=ozone.eaudeweb.ro

# Accepts yes/no
OZONE_USE_TLS=no

OZONE_HOST=app
OZONE_GUNICORN_PORT=8000

BACKEND_HOST=ozone.eaudeweb.ro
BACKEND_PORT=8000

TUSD_HOST=ozone.eaudeweb.ro
TUSD_PORT=1080

# OZONE_TZ= UTC
CORS_ORIGIN_WHITELIST=app:8000

TUSD_UPLOADS_DIR=/var/local/tusd_uploads

# Comma-separated list, e.g. xml,tif
ALLOWED_UPLOADS_EXTENSIONS=xls,ods


API_VERSION=0.1

TOKEN_EXPIRE_INTERVAL=30
