# See Weblate documentation for detailed description:
# https://docs.weblate.org/en/latest/admin/deployments.html#docker

# Weblate setup
WEBLATE_DEBUG=1
WEBLATE_LOGLEVEL=DEBUG
WEBLATE_SITE_TITLE=ORS Translation Center
WEBLATE_ADMIN_NAME=ORS Translation Center Admin
WEBLATE_ADMIN_EMAIL=admin@ozone.edw.ro
# Keep this disable to prevent the admin being recreated on every restart
#WEBLATE_ADMIN_PASSWORD=
WEBLATE_SERVER_EMAIL=noreply@ozone.edw.ro
WEBLATE_DEFAULT_FROM_EMAIL=noreply@ozone.edw.ro
WEBLATE_ALLOWED_HOSTS=*
WEBLATE_REGISTRATION_OPEN=1
# Adding any value for this variable disables user + password authentication
#WEBLATE_NO_EMAIL_AUTH=1

# Extra
WEBLATE_TIME_ZONE=Africa/Nairobi
WEBLATE_REQUIRE_LOGIN=1

# PostgreSQL setup
POSTGRES_PASSWORD=weblate
POSTGRES_USER=weblate
POSTGRES_DATABASE=weblate
POSTGRES_HOST=postgres-weblate
POSTGRES_PORT=

# Cache setup
REDIS_HOST=redis-weblate
REDIS_PORT=6379

# Mail server, the server has to listen on port 587 and understand TLS
WEBLATE_EMAIL_HOST=smtp
# Do NOT use quotes here
WEBLATE_EMAIL_USER=user
# Do NOT use quotes here
WEBLATE_EMAIL_PASSWORD=pwd

# Ozone OAuth Secrets
SOCIAL_AUTH_OZONE_KEY=XXXXXXXXXXXXXXXX
SOCIAL_AUTH_OZONE_SECRET=XXXXXXXXXXXXXXXX
# Host used for the redirect to get the authorization code
SOCIAL_AUTH_OZONE_HOST=localhost:8000
# Host used for server side API calls to get token and user details.
SOCIAL_AUTH_OZONE_API_HOST=app:8000