.width-40 { 	
    width: 40px;
}

.width-200 { 
  width: 200px;
}

.width-50-percent { 
  width: 50%;
}

.width-70-percent { 
  width: 70%;
}
.blends-lookup-table .multiselect__tags {
  min-height: 30px!important;
  padding: 0px 40px 0px 8px!important;
}

.blends-lookup-table .multiselect {
  min-height: 30px!important;
}

.blends-lookup-table .multiselect__tags-wrap .multiselect__tag:first-of-type{
    margin-top: 7px!important;
}

.blends-lookup-table .multiselect__placeholder {
    margin-top: 3px!important;
    margin-bottom: 7px!important;
}