{% extends 'registration/password_reset_complete.html' %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
<style type="text/css">
  html {
    height: 100%;
  }


 #content p {
    background: white;
    max-width: 600px;
    padding: 1rem;
    margin: 0 auto;
    float: none;
    background-color: #fff;
    border-radius: 0;
    border: none;
  }

  body {
    background-image:url('{{ STATIC_URL }}images/background.jpg') !important;
    background-size: cover !important;
    background-position: center center !important;
  }

  #container {
    background: transparent;
    border: none;
  }

  .breadcrumbs {
    display: none;
  }

  #header {
    background: transparent;
    color: #fff;
    text-align: center;
    padding: 5px 20px;
    overflow: visible;
    margin-bottom: 20px;
  }

  #header h1 {
    font-size: 45px;
  }

  #branding {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: block;
    float: none;
  }

  #branding h1,
  #branding h1 a:link,
  #branding h1 a:visited,
  h1 {
    color: #fff;
    margin: 0;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
  }

</style>
{% endblock extrastyle %}

{% block branding %}
<!-- Nothing -->
{% endblock branding %}
