{% extends 'registration/password_reset_form.html' %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
<style type="text/css">
  html {
    height: 100%;
  }

  #content {
    background: white;
    max-width: 600px;
    padding: 1rem;
    margin: 0 auto;
    float: none;
    background-color: #fff;
    padding: 25px 20px;
    border-radius: 0;
    border: none;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(63, 85, 250, 1);
    -moz-box-shadow: 0px 0px 10px 3px rgba(63, 85, 250, 1);
    box-shadow: 0px 0px 10px 3px rgba(63, 85, 250, 1);
  }
  h1 {
    margin-top: -5rem;
    margin-bottom: 3rem;
  }
  body {
    background-image:url('{{ STATIC_URL }}images/background.jpg') !important;
    background-size: cover !important;
    background-position: center center !important;
  }

  #login-form legend {
    color: #000;
  }

  .submit-row {
    padding: 0 !important;
    background: none;
    border: 0;
    text-align: center;
    width: 100%;
  }

  #container {
    background: transparent;
    border: none;
  }

  .breadcrumbs {
    display: none;
  }

  #header {
    background: transparent;
    color: #fff;
    text-align: center;
    padding: 5px 20px;
    overflow: visible;
    margin-bottom: 20px;
  }

  #header h1 {
    font-size: 45px;
  }

  form fieldset.module {
    margin:0;
  }

  .form-row {
    float: none;
    border: 0;
  }

  .form-row input {
    background: #FAFAFA;
    border: 2px solid #EDEDED;
    display: block;
    width: 100%;
    max-width: 500px;
    padding: 12px;
  }

  .form-row input:-webkit-autofill,
  .form-row input:-webkit-autofill:hover,
  .form-row input:-webkit-autofill:focus {
    -webkit-text-fill-color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px #FAFAFA inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  .form-row label {
    padding: 0;
    color: #333;
    font-size: 14px;
    display: block;
    padding-left: 10px;
  }

  .form-row + input[type="submit"] {
    background-color: #3F56FA;
    width: 220px;
    display: block;
    margin: 20px auto;
    padding: 15px;
    text-transform: uppercase;
    float: none;
  }

  .form-row + input[type="submit"]:hover {
    background-color: #011293;
  }

  #branding {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: block;
    float: none;
  }

  #branding h1,
  #branding h1 a:link,
  #branding h1 a:visited,
  h1 {
    color: #fff;
    /* margin: 0; */
    text-align: center;
    font-size: 2rem;
  }
</style>
{% endblock extrastyle %}

{% block content %}

<p>{% trans 'Forgotten your username or password? Enter your email address below, and we’ll email your username and instructions for setting a new password.' %}</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-email">
        {{ form.email.errors }}
        <label for="id_email">{% trans 'Email address:' %}</label>
        {{ form.email }}
    </div>
    <input type="submit" value="{% trans 'Reset my password' %}">
</fieldset>
</form>

{% endblock %}
{% block branding %}
<!-- Nothing -->
{% endblock branding %}
